.navbar ul > li > a {
    text-decoration: none;
    color: white;
}

.navbar ul > li {
    display: inline;
    padding: 0.5rem;
}

.navbar ul {
    margin-left: 20%;
}

#currentDate {
    margin-left: 10rem;
    float: left;
}

.pageHeader {
    height: auto;
    background-color: darkblue;

}

.pageHeader p {
    padding: 1rem;
}

.currentDate{
    margin: 0.5rem;
}

.pageHeader ul > li {
    color: white;
    display: inline;
    padding: 1rem;
}

.navbar2 ul {
    margin-left: 30%;
}

#content {
    height:20rem;
    background-color: aqua;
}